/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
nav {

    right:10px;
  }

.name{
    font-size: 60px;
    margin-left: 10px;
}

.intro {
    margin-left: 10px;
}
}